.container {
  display: flex;
  padding: 15px 10px;
  border-radius: 8px;
  background: white;
  width: 850px;
  height: 70px;
  box-shadow: 0px 16px 28px rgba(141, 40, 173, 0.15);

  * {
    margin-left: 10px;
    padding: 12px;
    border-radius: 8px;
  }

  .number {
    background: #f3f3f3;
    width: 15%;
  }

  .select {
    background: #f3f3f3;
    width: 15%;
  }

  .input {
    background: #f3f3f3;
    width: 50%;
  }

  .btn {
    display: flex;
    align-items: center;
    background: #f5c518;
    color: white;
    width: 15%;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0px 7px 20px rgba(141, 40, 173, 0.15);
    transition: all 500ms ease-out;
    &:hover {
      background: #ad8908;
    }
    &:active {
      color: #f5c518;
      background: #fffdf5;
      border: 1px solid #f5c518;
    }

    .icon {
      color: white;
    }
  }
}
