.container {
  display: flex;
  width: 130px;
  justify-content: center;
  align-items: center;

  .mainContainer {
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 96%);
    border-radius: 4px;

    .poster {
      width: 240px;
      height: 280px;
      border-radius: 20px;
      padding: 5px;
    }

    .rightContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0 0 30px;

      .topContainer {
        padding-top: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;

        img {
          margin-right: 5px;
        }

        .rate {
          font-size: 14px;
          margin: 0 130px 0 5px;
        }

        .genre {
          font-size: 10px;
          background: #f5c518;
          padding: 6px 12px;
          border-radius: 5px;
          margin-right: 10px;
        }
      }

      .midContainer {
        display: flex;
        flex-direction: column;
        padding-top: 25px;

        h5 {
          color: #f5c518;
          font-weight: 600;
          font-size: 14px;
        }

        h3 {
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 1px;
          line-height: 30px;
          padding-bottom: 10px;
        }

        p {
          color: rgba(0, 0, 0, 0.5);
          font-weight: 400;
          font-size: 14px;
          line-height: 30px;
          padding-bottom: 54px;
        }
      }

      .botContainer {
        display: flex;
        flex-direction: row;
        align-items: center;

        .addFav {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120px;
          padding: 15px;
          margin-right: 40px;
          background: #f5c518;
          color: #f5f5f5;
          box-shadow: 0px 14px 26px rgba(39, 13, 48, 0.25);
          border-radius: 8px;
          transition: all 300ms ease-out;
        }

        .removeFav {
          width: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px;
          margin-right: 40px;
          background: #fffdf5;
          color: #f5c518;
          box-shadow: 0px 14px 26px rgba(39, 13, 48, 0.25);

          border-radius: 8px;
          transition: all 300ms ease-out;
        }

        a {
          font-weight: 100;
          font-size: 12px;
          line-height: 24px;
          color: #f5c518;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .container {
    width: 300px;

    .mainContainer {
      flex-direction: column;

      .poster {
        width: 250px;
      }

      .rightContainer {
        padding: 0 0 0 0;
        .topContainer {
          .rate {
            font-size: 12px;
            margin-right: 45px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    width: 900px;
    .mainContainer {
      width: 600px;
      padding: 2px;

      .rightContainer {
        .midContainer {
          p {
            padding-bottom: 10px;
          }
        }
        .botContainer {
          .addFav {
            height: 20px;
            width: 150px;
          }

          .removeFav {
            height: 20px;
            width: 150px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 901px) {
  .container {
    width: 900px;
    .mainContainer {
      width: 750px;
      padding: 2px;

      .rightContainer {
        .midContainer {
          p {
            padding-bottom: 10px;
          }
        }
        .botContainer {
          .addFav {
            height: 20px;
            width: 150px;
          }

          .removeFav {
            height: 20px;
            width: 150px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    .mainContainer {
      width: 900px;
      padding: 2px;

      .rightContainer {
        .midContainer {
          p {
            padding-bottom: 10px;
          }
        }
        .botContainer {
          .addFav {
            height: 20px;
            width: 150px;
          }

          .removeFav {
            height: 20px;
            width: 150px;
          }
        }
      }
    }
  }
}
