* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

body {
  background: #fff;
}

//Homepage
.container {
  overflow: hidden;

  .sliderContainer {
    background: #f5c518;
    .slider {
      display: flex;
      img {
        width: 100%;
        opacity: 0.15;
      }
    }
  }

  .altContainer {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    z-index: 2;
    bottom: 45px;

    .info {
      display: flex;
      * {
        padding: 50px;
      }

      a {
        margin-left: 400px;
        font-weight: 200;
        font-size: 12px;
        line-height: 24px;
        color: #f5c518;
        cursor: pointer;
      }
    }
  }
}

//Resultpage

.resultContainer {
  display: flex;

  flex-flow: wrap column;
  align-items: center;
  padding-top: 20px;

  .searchResultContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 60px 0 40px 300px;

    h1 {
      span {
        color: #f5c518;
      }
    }
  }
}
