.Container {
  display: flex;
  height: 40px;
  font-size: 12px;
  align-items: center;
  padding-left: 300px;
  background: linear-gradient(
    90deg,
    rgba(245, 197, 24, 0.26) 22.24%,
    rgba(251, 247, 252, 0) 100%
  );
  span {
    color: #f5c518;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .Container {
    padding-left: 70px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .Container {
    padding-left: 70px;
  }
}

@media only screen and (min-width: 1200px) {
}
